@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("./fonts.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
div,
h1,
h2,
h3,
h4,
h5 {
  font-family:
    DM Sans,
    sans-serif;
}

p,
li {
  font-family:
    DM Sans Light,
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
